.git
.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
build/
dist/
site/
docs/**/*.html
Examples/.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/tmp/
**/temp/
**/*.sra
**/*.fastq
**/*.fastq.gz
**/*.fq
**/*.fq.gz
